 .container_btn_background{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s ease;
 
} 
.container_btn_background:hover{
  width: 42px;
  height: 42px;
  background-color: rgb(231, 221, 221);
}
.btn_background{
width:35px;
margin: auto;
}

.changeMode{

  background-color:#1B2638;
}



.header_mobile.changeMode{
  box-shadow: 0 1px 5px #325285;
  border-bottom: 1px solid #325285;
}